$primary: #2F6690;
$primary-darken-1: #16425B;
$secondary: #81C3D7;
$secondary-darken-1: #3A7CA5;

body {
    max-width: 1920px;
    min-width: 360px;
    scroll-behavior: smooth;
}
html{
    @media (max-width:360px) {
        overflow-x: scroll;   
    }
}


p {
    color: $primary-darken-1;
    margin-bottom: 20px;
    font-size: 20px;
}

h2 {
    color: $secondary-darken-1 !important;
    margin-bottom: 15px;
}

h3 {
    color: $primary;
}

h4 {
    color: $primary-darken-1;
}

ul,
ol {
    padding-left: 40px;
}

img {
    display: block;
    max-width: 100%;
}

figcaption {
    color: $primary-darken-1;
    font-size: 20px;
}

.test{
    font-size: 300px ; 
}